@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@font-face {
  font-family: "myFonts";
  src: url(Fonts/WhenToyRobotsAttack-yKAV.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar  */

.Container {
  width: 100%;
  /* background-color: #1a191d; */
}
.container-box {
  width: 1280px;
  margin: 0 auto;
}
.logo {
  width: 100%;
  height: 60px;
  color: #66d9ed;
  padding-top: 15px;
  position: fixed;
  font-family: "myFonts";
  letter-spacing: 3.5px;
  z-index: 11111;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 10px rgba(95, 93, 93, 0.2);
}

/* Header */

.bg-img {
  background-image: url(Images/home-cover.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
}
/* .bg-color {
  bottom: 0;
  z-index: 1000;
  background-color: transparent;
  background-image: linear-gradient(180deg, #00000012 60%, #1a191d 100%);
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
} */
.first-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 1280px;
  height: 100vh;
  justify-content: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}
.first-text > h1 {
  font-size: 8rem;
  letter-spacing: 2.2px;
  text-shadow: 1px 3px 11px rgba(0, 0, 0, 0.3);
  line-height: 1em;
}
.first-text > h3:first-child {
  font-size: 2.5rem;
  line-height: 1em;
  display: flex;
  margin-left: 18.5%;
}
.first-text > h3:last-child {
  font-size: 2.9rem;
  line-height: 1em;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

/* mainSection */

.my-work {
  width: 420px;
  height: 290px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  display: inline-block;
}

.iframe-container {
  overflow: hidden;
  width: 400px;
  height: auto;
  margin-top: 50px;
  display: flex;
}

.frame {
  border: none;
  zoom: 9;
  transform: scale(0.15);
  transform-origin: 0 0;
  border: 2px solid black;
}

/* .img-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
}
.showcase {
  max-width: 30%;
  margin-top: 50px;
}
.showcase > a > img {
  width: 100%;
  height: 45vh;
}
.construction {
  background-color: #fff !important;
}
.construction > img {
  width: 100%;
} */
