@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* >>>>>> Sign Up Page <<<<<< */

.signup-container {
  width: 100%;
  min-height: 100vh;
  background-image: url(img/background.png);
  background-size: cover;
  position: fixed;
}
.color {
  width: 40%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}
.color h1 {
  color: #fff;
  text-shadow: 2px 2px 0px rgba(0, 202, 183, 1),
    2px -2px 0px rgba(0, 202, 183, 1), -2px 2px 0px rgba(0, 202, 183, 1),
    -2px -2px 0px rgba(0, 202, 183, 1), 2px 0px 0px rgba(0, 202, 183, 1),
    0px 2px 0px rgba(0, 202, 183, 1), -2px 0px 0px rgba(0, 202, 183, 1),
    0px -2px 0px rgba(0, 202, 183, 1);
}
.signup-box {
  margin-top: 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.image-container {
  margin: 0 auto;
}

#images {
  width: 150px;
  height: 150px;
}

.signup-box input {
  height: 40px;
  font-size: 1.1em;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid gray;
  outline: none;
}

.signup-box button {
  width: 40%;
  font-size: 1.2em;
  font-weight: 700;
  padding: 10px;
  background-color: #00cab7;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#userimage {
  border: none;
  color: #fff;
}

/* >>>>>> Main Page <<<<<< */

.container {
  width: 100%;
  min-height: 100vh;
  padding-top: 50px;
  background-image: url(img/mainBG.png);
  background-position: center;
  background-size: cover;
  display: none;
}
.box {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: auto;
  padding: 50px;
  border-radius: 25px;
}
#img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #000;
  overflow: hidden;
}
#displayName {
  color: #fff;
}
#output {
  margin-top: 25px;
}
#output > p {
  padding: 20px;
  margin: 5px auto;
  width: 40%;
  height: auto;
  font-size: 1.1em;
  word-wrap: break-word;
  color: #ffffff;
  border: 3px double #ff9719;
  border-radius: 0px 100px 0px 100px;
  background-color: rgba(255, 151, 25, 0.3);
  font-weight: 600;
}

#userInput {
  width: 50%;
  margin: 10px auto;
}
#posting {
  width: 79%;
  height: 40px;
}
#btn {
  width: 19%;
  height: 40px;
}
