@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  /* Backgroung Animaiton Start */
  animation: animateBg 14s linear infinite;
  background-image: linear-gradient(
    90deg,
    #71c66c,
    #ff8000,
    #db5779,
    #71c66c,
    #ff8000
  );
  background-size: 400% 100%;
}
@keyframes animateBg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
  /* End */
}

.container {
  width: 860px;
  height: 450px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 8px 1px rgba(64, 60, 67, 0.24);
  border-color: rgba(223, 225, 229, 0);
  border-radius: 15px;
}

.container > h1 {
  text-align: center;
  font-size: 64px;
  font-family: "Rampart One", cursive;
  position: relative;
}

.container > h1::first-letter {
  color: orange;
  font-weight: bolder;
}

.container > p {
  /* margin: 32px 0; */
  position: relative;
  text-align: center;
  font-size: 42px;
  line-height: 55px;
  word-spacing: 1em;
}
.container > p::first-letter {
  color: red;
  font-family: "Faster One", cursive;
}

.button-container {
  position: absolute;
  bottom: -40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.previous-button,
.next-button {
  padding: 10px 20px;
  font-size: 22px;
  width: 150px;
  line-height: 30px;
  border-radius: 10px;
  border: none;
  margin: -15px 0;
  color: black;
  background-color: #fff;
  box-shadow: 0 2px 8px 1px rgba(64, 60, 67, 0.24);
  border-color: rgba(223, 225, 229, 0);
  cursor: pointer;
  transition: 0.5s;
}

.previous-button {
  order: 2;
}

.next-button {
  order: 1;
}
.previous-button:hover,
.next-button:hover {
  background-color: rgb(83, 83, 158);
  color: white;
  font-size: 24px;
  width: 160px;
  line-height: 40px;
  padding: 5px 10px;
}
