@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
nav,
main {
  width: 100%;
}
.nav-container,
.container {
  width: 1320px;
  margin: 0 auto;
}
.nav-container {
  background-color: darkgrey;
  padding: 25px;
}
.logo {
  height: 80px;
  padding: 15px;
}
.logo > a {
  font-size: 2.5em;
  text-decoration: none;
  font-family: "Courgette";
  margin-top: auto;
  color: #000;
}

.logo span {
  font-family: "Courgette";
  color: #f7df1e;
}
.hr {
  border: 1px solid #fafafa;
}
/* .nav-box{
    display: flex;
    justify-content: space-between;
} */
.chapters {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 1.5em;
  justify-content: space-between;
  padding: 40px 0px;
}
.chapters > a {
  text-decoration: none;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  color: #000;
}
.container {
  /* padding: 25px; */
}
.heading {
  height: 50px;
  text-align: center;
  font-size: 3em;
  align-items: center;
  font-weight: 600;
  margin: 30px 0;
}

.qa-container > p {
  line-height: 1.8em;
  border: 1px solid #000;
  margin: 5px 0;
  font-size: 2em;
  padding: 25px;
}

.question > span {
  color: #ff0000;
  font-weight: 600;
}
.answer > span {
  color: #228b22;
  font-weight: 600;
}

.answer {
  color: #228b22;
}
