@font-face {
  font-family: Cervo Neue Black;
  src: url(./fonts/178a2cf8-1429-4101-9c89-1f820cd1c5fa.c8c0a0a20d0543b844b63f47d41cf52a.woff2)
      format("woff2"),
    url(./fonts/7594a6b6-e2a3-4f7c-a57c-7f3642338ada.e49234047e5f9eece6ae3055b8d19ffd.woff)
      format("woff"),
    url(./fonts/239548d6-9ca4-435b-8445-f4d87715ac88.178d033902553e936c3c19648714e99a.ttf)
      format("truetype");
}

@font-face {
  font-family: Sofia Pro Regular;
  src: url(./fonts/8b31e0d7-5f53-45c2-b318-064f0b532543.6980bac4cb63376ad59b3dc816cffdff.woff2)
      format("woff2"),
    url(./fonts/476fe015-ab32-40a2-8fed-0a5af9a3bba4.e15319837a18b11d04994148fd733a56.woff)
      format("woff"),
    url(./fonts/d8bcfa37-4f93-49cf-8dea-c29e894af58e.535a1f100b5543ccee919c57f7ff5512.ttf)
      format("truetype");
}

@font-face {
  font-family: Sofia Pro Black;
  src: url(./fonts/fb8331b5-dfd3-496e-9a0e-8afbb5014272.d666372c41dda9a167ba21b72643d620.woff2)
      format("woff2"),
    url(./fonts/b65232b3-e982-4cd6-a8ae-4bee2ecdb90d.5310a7253b85a5291f28de5f42a720a5.woff)
      format("woff"),
    url(./fonts/2dec1b8b-9bad-4cc0-8bea-76f93ebb2331.081acda8bebc1a2fe9214be99596ddb5.ttf)
      format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Sofia Pro Regular";
}

/* Navbar Start */

.btn {
  color: #ffffff;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #ffffff;
  line-height: 1.5rem;
  padding: 5px 20px;
  font-weight: 800;
  cursor: pointer;
}
.btn-two {
  color: #ffffff;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #ffffff;
  line-height: 1.5rem;
  padding: 5px 20px;
  width: 150px;
  font-weight: 800;
  cursor: pointer;
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-20deg);
    transform: perspective(400px) rotateX(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotateX(-5deg);
    transform: perspective(400px) rotateX(-5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-20deg);
    transform: perspective(400px) rotateX(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotateX(-5deg);
    transform: perspective(400px) rotateX(-5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX:hover {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
  background-color: #ffffff;
  color: #0065c3;
}
.navBar {
  background-color: #0065c3;
  width: 1380px;
  height: 80px;
  margin: 0px auto;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-container > ul {
  display: flex;
  list-style-type: none;
  flex: 4;
  font-family: "sofia-jaani";
  font-weight: 800;
}
.nav-container > ul > li {
  text-decoration-style: none;
  margin: 0px 15px;
}
.nav-container img {
  width: 60px;
  height: 60px;
}
.divOne-img {
  flex: 1;
  margin-left: 30px;
}
.divOne-btn {
  flex: 2;
  margin-left: 90px;
  text-align: center;
}

/* Head Start */

.head-container {
  background-image: url(Images/background.png);
  background-position: center;
  height: 590px;
  width: 1380px;
  margin: 0 auto;
}

.head-sec-main {
  display: flex;
  align-items: center;
}
.head-sec-one > img {
  max-width: 810px;
  max-height: 520px;
  margin-top: 70px;
}
.head-sec-two {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.head-sec-two img {
  max-width: 810px;
  max-height: 520px;
}

.btn-two {
  margin: 30px auto;
}
.head-sec-two > p {
  width: 480px;
  height: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
}

/* First Section Start  */

.first-section {
  background-image: url(Images/PZS-tile-background.png);
  height: 590px;
  width: 1380px;
  margin: 0 auto;
}
.flex-box {
  display: flex;
  justify-content: center;
}
.fsc-first-div {
  background-image: url(Images/pzs-can-nobug-desktop.png);
  background-size: auto 115%;
  background-position: right -120px bottom;
  width: 710px;
  height: 560px;
  margin-top: 30px;
}
.fsc-first-div > img {
  position: relative;
  right: -68%;
  top: 3%;
}
.fsc-second-div {
  width: 630px;
  height: 560px;
  display: flex;
  flex-direction: column;
}
.fsc-sd-one {
  flex: 2;
}
.fsc-sd-one > img {
  margin-top: 100px;
  height: 250px;
}
.fsc-sd-two {
  flex: 0.5;
}
.fsc-sd-two > img {
  height: 25px;
  margin: 0px 50px;
}
.fsc-sd-three {
  flex: 1.5;
}

/* Second Section Start  */

.second-section {
  background-image: url(Images/Desktop_Background.png);
  height: 590px;
  width: 1380px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.snd-one {
  flex: 1;
}
.snd-one > img {
  height: 540px;
  margin-top: 60px;
}
.snd-two {
  flex: 1;
  text-align: center;
  margin: 160px 0 0 50px;
}

.snd-two > img {
  height: 250px;
}
.snd-two > h1 {
  font-size: 18px;
  color: #ffffff;
  margin: 10px 0px;
}
/* Third Section Start */

.third-section {
  height: 590px;
  width: 1380px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #265cc5;
  z-index: 1;
}
.trd-one {
  flex: 1;
  margin: 50px;
}
.trd-one > div > img {
  width: 350px;
  margin-bottom: -4px;
}
.span-div {
  background-color: #1437bf;
  color: #ffffff;
  width: 100%;
  line-height: 50px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 600;
}

.trd-two > div > img {
  width: 100%;
  height: 590px;
  position: relative;
  object-fit: none;
}
/* Four Section Start  */
.four-section {
  height: 590px;
  width: 1380px;
  margin: 0 auto;
  background-color: #004996;
}
.for-one {
  width: 100%;
  height: 100%;
  position: relative;
}
.img-one > img {
  width: 100%;
  height: 420px;
  margin-top: 170px;
  position: relative;
}
.img-two > img {
  position: absolute;
  width: 430px;
  top: 8%;
  left: 5%;
}
.img-three > img {
  position: absolute;
  width: 390px;
  bottom: 5%;
  left: 5%;
  z-index: 1;
}
.img-four > img {
  position: absolute;
  height: 590px;
  right: 0px;
  z-index: 1;
}

/* fifth Section Start */

.fift-section {
  height: 590px;
  width: 1380px;
  margin: 0 auto;
}

/* Six Section Start */

.six-section {
  height: 590px;
  width: 1380px;
  margin: 0 auto;
  background-image: url(Images/twil-bg.jpg);
}
.six-one > img {
  position: relative;
  height: 500px;
  top: 18%;
}
.six-two > img {
  height: 300px;
  position: relative;
  top: 35%;
}
/* Seven Section Start */
.seven-section {
  height: 590px;
  width: 1380px;
  margin: 0 auto;
  background-color: #0065c3;
  justify-content: center;
}
.seven-one {
  flex: 1;
  margin: 150px 0px 0px 50px;
  padding-bottom: 50px;
}
.seven-one > p {
  width: 80%;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 25px;
}
.seven-two {
  flex: 1;
  width: 100%;
  height: 100%;
}
.seven-two > img {
  width: 650px;
  margin: 150px 50px 0 0;
}
.con-h1 {
  font-family: "Sofia Pro Black";
  color: #ffffff;
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 800;
}
/* Footer Start */
.footer {
  height: 320px;
  width: 1380px;
  margin: 0 auto;
  position: relative;
}
.footer-img > h1 {
  text-align: center;
  color: #0065c3;
  font-size: 3.1rem;
  font-family: "Sofia Pro Black";
  font-weight: 800;
}
.footer-row {
  display: flex;
  justify-content: center;
}
.footer-row > div > img {
  width: 250px;
}
.social-cons {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-left: 90px;
}
.social-cons > div {
  width: 250px;
}
.social-cons > div > img {
  position: absolute;
  height: 40px;
  width: 40px;
  opacity: 0.9;
  top: 82%;
}
/* last footer start */
.footer-end {
  height: 250px;
  width: 1380px;
  margin: 0 auto;
  background-color: #0065c3;
  position: relative;
}
.footer-main {
  margin-top: -5px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
}
.footer-logo {
  columns: 1;
  margin-top: 5%;
}
.footer-ul {
  columns: 3;
  margin-top: 7%;
  column-gap: 60px;
}
.footer-ul > ul > li {
  list-style: none;
  color: #ffffff;
  font-weight: 600;
}
.footer-btn-icon {
  columns: 1;
  margin-top: 6%;
}
.footer-icon {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.footer-icon > div > img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
