@font-face {
  font-family: sofia-jaani;
  src: url(Fonts/sofiapro-light.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "sofia-jaani";
}

/* Navbar Start */

.btn {
  color: #fff5ef;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #fff5ef;
  line-height: 1.5rem;
  padding: 5px 20px;
  font-family: "sofia-jaani";
  font-weight: 800;
}
.btn-two {
  color: #fff5ef;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #fff5ef;
  line-height: 1.5rem;
  padding: 5px 20px;
  width: 150px;
  font-family: "sofia-jaani";
  font-weight: 800;
}
.navBar {
  /* position: fixed; */
  background-color: #0065c3;
  width: 1380px;
  height: 80px;
  margin: 0px auto;
}
a {
  text-decoration: none;
  color: #fff5ef;
}
.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-container > ul {
  display: flex;
  list-style-type: none;
  flex: 3;
  font-family: "sofia-jaani";
  font-weight: 800;
}
.nav-container > ul > li {
  text-decoration-style: none;
  margin: 0px 15px;
}
.nav-container img {
  width: 60px;
  height: 60px;
}
.divOne {
  flex: 1;
}
.divOne > a > img {
  margin: 0px 40px;
}

/* Head Start */

.head-container {
  background-image: url(Images/background.png);
  background-position: center;
  height: 590px;
  width: 1380px;
  margin: 0 auto;
}

.head-sec-main {
  display: flex;
  align-items: center;
}
.head-sec-one > img {
  max-width: 810px;
  max-height: 520px;
  margin-top: 70px;
}
.head-sec-two {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.head-sec-two img {
  max-width: 810px;
  max-height: 520px;
}

.btn-two {
  margin: 30px auto;
}
.head-sec-two > p {
  width: 480px;
  height: 20px;
  text-align: center;
  color: #fff5ef;
  font-size: 12px;
}

/* First Section Start  */

.first-section {
  background-image: url(Images/PZS-tile-background.png);
  height: 590px;
  width: 1380px;
  margin: 0 auto;
}
.flex-box {
  display: flex;
  justify-content: center;
}
.fsc-first-div {
  background-image: url(Images/pzs-can-nobug-desktop.png);
  background-size: auto 115%;
  background-position: right -120px bottom;
  width: 710px;
  height: 560px;
  margin-top: 30px;
}
.fsc-first-div > img {
  position: relative;
  right: -68%;
  top: 3%;
}
.fsc-second-div {
  width: 630px;
  height: 560px;
  display: flex;
  flex-direction: column;
}
.fsc-sd-one {
  flex: 2;
}
.fsc-sd-one > img {
  margin-top: 100px;
  height: 250px;
}
.fsc-sd-two {
  flex: 0.5;
}
.fsc-sd-two > img {
  height: 25px;
  margin: 0px 50px;
}
.fsc-sd-three {
  flex: 1.5;
}

/* Second Section Start  */

.second-section {
  background-image: url(Images/Desktop_Background.png);
  height: 590px;
  width: 1380px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.snd-one {
  flex: 1;
}
.snd-one > img {
  height: 540px;
  margin-top: 60px;
}
.snd-two {
  flex: 1;
  text-align: center;
  margin: 160px 0 0 50px;
}

.snd-two > img {
  height: 250px;
}
.snd-two > h1 {
  font-size: 18px;
  color: #fff5ef;
  margin: 10px 0px;
}
/* Third Section Start */

.third-section {
  height: 590px;
  width: 1380px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #265cc5;
  z-index: 1;
}
.trd-one {
  flex: 1;
  margin: 50px;
}
.trd-one > div > img {
  width: 350px;
  margin-bottom: -4px;
}
.span-div {
  background-color: #1437bf;
  color: #fff5ef;
  width: 100%;
  line-height: 50px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 600;
}
.trd-two > img {
  width: 850px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.trd-two {
  flex: 3;
  height: 100%;
}
