@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 800;
  color: #7d8179;
}
/* <<<<<<<<< NAVBAR >>>>>>>>>> */

.navbar {
  background-color: rgba(244, 250, 235, 1);
  width: 100%;
  height: 80px;
  z-index: 1;
  position: fixed;
  margin: 0;
  padding: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.logo {
  max-width: 1320px;
  margin: 0 auto;
}
.logo > a > img {
  width: 180px;
  margin: 20px 0 0 50px;
}
.logo:hover {
  transform: translateY(-9px);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
/* <<<<<<<<< header >>>>>>>>>> */

.head-container {
  width: 100%;
  background-color: #f4faeb;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 80px;
}
.head-box {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.head-left,
.head-right {
  width: 50%;
  padding: 0px 50px;
}
.head-left > h1 {
  color: #1b4541;
  font-size: 4em;
  line-height: 100%;
}
.head-left > h1 > span {
  color: #7d8179;
}

.head-left > p {
  width: 90%;
  text-align: left;
  margin-top: 20px;
  font-size: 1.5em;
}
.head-left > p > span {
  color: #1b4541;
  font-weight: 600;
  font-size: 1.1em;
}
.head-right > img {
  width: 100%;
}
a {
  text-decoration: none;
  color: #f4faeb;
}
.btn {
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  width: 9rem;
  height: 3rem;
  background-color: #1b4541;
  margin: 20px 0px;
  padding: 5px;
}
.btn:hover {
  background-color: #7d8179;
  color: #1b4541;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .head-box {
    flex-direction: column;
    margin-top: 50px;
    padding: 0px;
    text-align: center;
  }
  .head-left {
    width: 100%;
  }
  .head-right {
    width: 100%;
  }
  .btn {
    margin: 50px 0px;
  }
  .head-left > p {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 30px;
  }
}
@media only screen and (max-width: 425px) {
  .head-left > h1 {
    font-size: 2.5em;
  }
  .head-left > p {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
  }
}

/* <<<<<<<<< Header-END >>>>>>>>>> */

.main-container {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  font-size: 18px;
  padding-top: 50px;
}
.green-color {
  background-color: #1b4541;
  color: #f4faeb;
}
.green-color > a > div {
  color: #f4faeb;
}
.white-color {
  background-color: #f4faeb;
  color: #1b4541;
}
.white-color > a > div {
  color: #1b4541;
}
.main-box {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
.main-container > h2 {
  font-size: 5vw;
  text-align: center;
  margin-bottom: 50px;
}
.img-container {
  width: 30%;
  height: 265px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.img-container > a > img {
  width: 100%;
}
.img-text {
  font-size: 1em;
  position: relative;
  top: 5px;
}
.img-container:hover {
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}
@media only screen and (max-width: 768px) {
  .img-container {
    width: 40%;
  }
  .img-text {
    margin-top: 10px;
    font-size: 0.9em;
    padding: 10px 0px;
  }
}
@media only screen and (max-width: 425px) {
  .img-container {
    width: 90%;
  }
  .img-text {
    font-size: 0.9em;
    padding: 10px 0px;
  }
  .main-container {
    padding-top: 10px;
  }
  .main-container > h2 {
    margin-bottom: 10px;
  }
}
