@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 800;
  color: #7d8179;
}
/* <<<<<<<<< NAVBAR >>>>>>>>>> */

.navbar {
  background-color: rgba(244, 250, 235, 1);
  width: 100%;
  height: 80px;
  z-index: 1;
  position: fixed;
  margin: 0;
  padding: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.logo {
  max-width: 1320px;
  margin: 0 auto;
  transition: 0.5s;
}
.logo > a > img {
  width: 180px;
  margin: 20px 0 0 50px;
}
.logo:hover {
  transform: translateY(-9px);
  cursor: pointer;
  transition-timing-function: ease-in-out;
}
/* <<<<<<<<< header >>>>>>>>>> */

.head-container {
  width: 100%;
  background-color: #f4faeb;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 80px;
}
.head-box {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.head-left,
.head-right {
  width: 50%;
  padding: 0px 50px;
}
.head-left > h1 {
  color: #1b4541;
  font-size: 4em;
  line-height: 100%;
}
.head-left > h1 > span {
  color: #7d8179;
}

.head-left > p {
  width: 80%;
  text-align: justify;
  margin-top: 20px;
  font-size: 1.5em;
}
.head-left > p > span {
  color: #1b4541;
  font-weight: 600;
  font-size: 1.1em;
}
.head-right > img {
  width: 100%;
}
a {
  text-decoration: none;
  color: #f4faeb;
}
.btn {
  font-size: 0.9rem;
  border: none;
  border-radius: 10px;
  width: 9rem;
  height: 3rem;
  background-color: #1b4541;
  color: #f4faeb;
  margin: 20px 0px;
  padding: 0px 20px;
  width: auto;
  font-weight: 600;
  transition: 0.5s;
}
.btn:hover {
  background-color: #7d8179;
  cursor: pointer;
  color: #1b4541;
  transition-timing-function: ease-in-out;
}

@media only screen and (max-width: 768px) {
  .head-box {
    flex-direction: column;
    /* margin-top: 50px; */
    padding: 0px;
    text-align: center;
  }
  .head-left {
    width: 100%;
  }
  .head-right {
    width: 100%;
  }
  .btn {
    margin: 50px 0px;
  }
  .head-left > p {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 30px;
  }
}
@media only screen and (max-width: 425px) {
  .head-left > h1 {
    font-size: 2.5em;
  }
  .head-left > p {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
  }
  .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-left,
  .footer-right {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .footer-right {
    margin: auto;
  }
  .footer-left > a > img {
    margin-left: 0;
  }
  .btn {
    margin: 10px 0px;
  }
}

/* <<<<<<<<< Header-END >>>>>>>>>> */

.main-container {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  font-size: 18px;
  padding-top: 50px;
}
.green-color {
  background-color: #1b4541;
  color: #f4faeb;
}
.green-color > a > div {
  color: #f4faeb;
}
.white-color {
  background-color: #f4faeb;
  color: #1b4541;
}
.white-color > a > div {
  color: #1b4541;
}

.Project-Container {
  width: 100%;
  height: 450px;
}
.project-box {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 50px;
  justify-content: space-evenly;
}
.left > a > div > img {
  width: 600px;
}
.right {
  text-align: center;
  column-gap: 15px;
}
.left {
  transition: 0.6s;
}
.left:hover {
  transform: scale(1.04);
  transition-timing-function: ease-in-out;
  transition: 0.6s;
}
/* <<<<<<<<< Tere Website-END >>>>>>>>>> */
.main-box {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  justify-content: center;
  padding: 0px 16px;
}
.main-container > h2 {
  font-size: 4.5vw;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
}
.img-container {
  width: 30%;
  height: 265px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  transition: 0.6s;
}
.img-container > a > img {
  width: 100%;
}
.img-text {
  font-size: 1em;
  position: relative;
  top: 5px;
}
.img-container:hover {
  transform: scale(1.09);
  transition-timing-function: ease-in-out;
  box-shadow: none;
}
@media only screen and (max-width: 768px) {
  .img-container {
    width: 40%;
  }
  .img-text {
    margin-top: 10px;
    font-size: 0.9em;
    padding: 10px 0px;
  }
  .Project-Container {
    height: auto;
    padding-bottom: 30px;
  }
  .project-box {
    flex-direction: column;
  }
  .left > a > div > img {
    width: 100%;
  }
  .left {
    width: 100%;
  }
  .right{
    margin: 50px 0;
    
  }
}
@media only screen and (max-width: 425px) {
  .img-container {
    width: 90%;
  }
  .img-text {
    font-size: 0.9em;
    padding: 10px 0px;
  }
  .main-container {
    padding-top: 10px;
  }
  .main-container > h2 {
    margin-bottom: 10px;
  }
}
/* <<<<<<<<< MAIN SECTION END >>>>>>>>>> */
.footer-head {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  font-size: 18px;
  padding: 50px 0px;
}
.footer-box {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
}
.footer-left img {
  width: 180px;
  margin-left: 32px;
}
.footer-right {
  font-size: 1.7rem;
  letter-spacing: 2.5px;
  margin-right: 32px;
}
.footer-right > div > a > i {
  font-size: 2rem;
  margin: 0px 5px;
  text-align: center;
  transition: 0.4s;
}
.footer-right > div > a > i:hover {
  color: #7d8179;
  transition-timing-function: ease-in-out;
  transform: translateY(-5px);
}
hr {
  width: 90%;
  margin: 20px auto;
  opacity: 0.3;
}
.copyright {
  text-align: center;
}
@media only screen and (max-width: 1320px) {
  .head-box {
    padding-top: 80px;
  }
}
