* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Roboto-Regular;
  src: url(Fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Fidel-Black;
  src: url(Fonts/Fidel-Black/Fidel-Black.ttf);
}
@font-face {
  font-family: Helvetica;
  src: url(Fonts/Helvetica/Helvetica.ttf);
}
.container {
  background-image: url(Images/bg1-min.png);
  background-size: 100%;
  min-height: 100vh;
  background-position: bottom;
  width: 100%;
  background-repeat: no-repeat;
  background-color: #6e71c7;
}

/* Global Class Start */

.flex-box {
  display: flex;
  justify-content: center;
}
.fix-wh {
  width: 1080px;
}
.mlr-auto {
  margin: 0 auto;
}

/* Global Class END */

/* NavBar Start */

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1320px;
  margin: auto;
  padding-top: 30px;
}
.unorder-list {
  display: flex;
  font-family: "Roboto-Regular";
  font-size: 18px;
  color: #fff;
  list-style: none;
}
.unorder-list > li {
  margin: 0 15px;
}
.nav-social-icon {
  display: flex;
  width: 240px;
  justify-content: center;
}
.nav-social-icon > img {
  width: 25px;
  height: 25px;
  margin: 0 15px;
  align-items: right;
}
.btn-main > button {
  font-family: "Fidel-Black";
  font-size: 28px;
  color: #fff;
  border-radius: 29px;
  text-align: center;
  border: none;
  width: 217px;
  height: 58px;
  background-color: #d53434;
  cursor: pointer;
}
/* NavBar End */

/* First Page Start */

.nav-section {
  text-align: center;
  display: flex;
  width: 1320px;
  min-height: 100vh;
  margin: 0 auto;
  justify-content: space-around;
  position: relative;
}

.bear-img-bt1 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}
.bear-img-bt1 > img {
  height: 690px;
}
.center-containt {
  position: absolute;
  top: 100px;
  left: 26%;
}

.center-containt button > img {
  width: 22px;
  height: 22px;
}
.div-span {
  font-size: 32px;
  font-family: "Roboto-Regular";
  font-weight: bold;
  background-color: #fff;
  width: 373px;
  height: 58px;
  border-radius: 29px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: space-between;
  margin: 20px auto;
}
.btn-imgText {
  display: flex;
  justify-content: space-between;
}
.btn-imgText > button {
  background-color: #1e1e1e;
  align-items: center;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border: none;
  width: 217px;
  height: 48px;
  cursor: pointer;
  display: flex;
  padding: 10px;
  margin: auto;
  justify-content: space-around;
}
/* Main Section One Start */

.section-container {
  background: transparent url(/images/bg2-min.png) 0 0 no-repeat padding-box;
  width: 100%;
  background-size: cover;
  padding: 100px 0px;
}
.heading-h1 > h1 {
  font-family: "Fidel-Black";
  font-size: 76px;
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
}
.section-container div:last-child > div p {
  width: 600px;
  margin-right: 80px;
  color: #fff;
  font-family: "Roboto-Regular";
  font-size: 30px;
}
/* Main Section One END */

/* Main Section Two Start */
.section-two {
  background: #2f559d 0 0 no-repeat padding-box;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}
.per-width1 {
  width: 44%;
  margin-right: 15%;
}
.per-width2 {
  width: 35%;
}
.sec-two {
  font-family: "Fidel-Black";
  width: 1080px;
  margin: 0 auto;
  line-height: 50px;
}
.sec-two h2 {
  color: #fff;
  font-size: 50px;
  margin-bottom: 40px;
}
.sec-two p {
  font-family: "Fidel-Black";
  font-size: 36px;
  color: #7bd1ff;
}
.sec-two span {
  font-family: "Fidel-Black";
  font-size: 35px;
  color: #fff;
}
