body {
  background-image: url(images/main-2.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.main {
  border-radius: 20px;
  margin: 15% 0px 0px 35%;
  height: 300px;
  width: 500px;
}

.logIn {
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
}

.logIn > input {
  margin: 0;
  font-size: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  width: 250px;
  height: 25px;
  border: none;
}

.btn {
  margin: 20px 0;
  width: 100px;
  line-height: 30px;
  text-align: center;
  font-size: 19px;
  border-radius: 5px;
  background-color: #8b8a8a;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
a > .back-btn {
  width: 150px;
  line-height: 25px;
  font-size: 16px;
  background-color: transparent;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
