* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* <!-- >>>>> Anagram words <<<<< --> */

.anagramStying {
  height: auto;
  width: 30%;
  border: 1px solid black;
  margin: 10% auto;
  padding: 20px;
  text-align: center;
}
.anagramStying > input {
  margin: 10px 0;
  width: 100%;
  height: 40px;
  font-size: 1em;
}
.anagramStying > button {
  width: 50%;
  font-size: 18px;
  padding: 5px 0;
}

/* <!-- >>>>> Removed dublicate value from array <<<<< --> */

.remvoedDublicate {
  height: auto;
  width: 30%;
  border: 1px solid black;
  margin: 10% auto;
  padding: 20px;
  text-align: center;
}

.remvoedDublicate > input {
  margin: 10px 0;
  width: 100%;
  height: 40px;
  font-size: 1em;
}
.remvoedDublicate > button {
  width: 90%;
  font-size: 18px;
  padding: 5px;
  margin: 5px 0;
}
