* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  border: none;
}
.screen > input {
  width: 100%;
  height: 80px;
  background-color: #252525;
}
.operations {
  width: 100%;
  display: flex;
}
.operations > button {
  width: 25%;
  height: 60px;
  border: 1px solid #a2a0a0;
}
.flex {
  display: flex;
  width: 100%;
}
.numbers {
  width: 76%;
  display: flex;
  flex-wrap: wrap;
}
.numbers > button {
  width: 30%;
  height: 60px;
}
.sum {
  width: 20%;
}
.sum > button {
  width: 100%;
  height: 60px;
}
