* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border: none;
  font-size: 18px;
  background-color: aliceblue;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 400px;
  height: 400px;
}

.screen > input {
  width: 100%;
  height: 80px;
  background-color: #252525;
  border: none;
  color: #fff;
  font-size: 36px;
  direction: rtl;
}
.operations {
  width: 100%;
  display: flex;
}
.operations > input {
  width: 25%;
  height: 60px;
  border: 1px solid #a2a0a0;
  background-color: #f5f5f5;
}
.flex {
  display: flex;
  width: 100%;
}
.numbers {
  width: 75.5%;
  display: flex;
  flex-wrap: wrap;
}
.numbers > input {
  width: 33.33%;
  height: 60px;
  border: 1px solid #a2a0a0;
  background-color: #f8f8ff;
}
.sum {
  width: 25%;
}
.sum > input {
  width: 100%;
  height: 240px;
  background-color: #f98b6b;
}
